{{#each plants}}
<p>{{name}}</p>
{{if isAdmin}}
<a href="/tiendas/agregar-planta/{{../storeId}}/{{id}}" class="btn btn-sm btn-dark">Añadir a tienda</a>
{{/if}}
<p>{{../storeId}}</p>
<p>{{id}}</p>
{{/each}}