<div class="container">
  <h3>{{store.name}}</h3>
  <p>{{store.direction}}</p>
  {{#if isAdmin}}
  <a href="/tiendas/catalogo/{{store.id}}" class="btn btn-dark">catálogo</a>
  {{/if}}
</div>

<div>
  <figure storeID="{{store.id}}" class="map-details"></figure>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/styles.js"></script>
<script src="/javascripts/store-map-details.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{map}}&callback=initApp"></script>