<div class="container">
    <h1>Estas en tu perfil {{user.username}}</h1>
    <p>Tu rol es {{user.role}}</p>
    {{#if isAdmin}}
    <a href="/editar-perfil?id={{_id}}" class="btn btn-sm btn-dark">Editar Perfil</a>
    <a href="/eliminar-perfil?id={{_id}}" class="btn btn-sm btn-dark">Eliminar Perfil</a>
    {{/if}}
    <h3>Estas son tus plantas:</h3>
    <div class="row justify-content-center">
        {{#each user.plants}}
        <div class="col-md-6">
            <div class="row plant-task">
                <div class="col-md-5">
                    <img src="{{imageUrl}}" alt="name">
                </div>
                <div class="col-md-7">
                    <h2>{{name}}</h2>
                    <p>Tipo: {{care}}</p>
                    <hr>
                    <ul>
                        <li><strong>Riego:</strong> {{water}}</li>
                        <li><strong>Pulverizar:</strong> {{spray}}</li>
                    </ul>
                    <a href="/plantas/detalle/{{id}}" class="btn btn-sm btn-dark">Ver detalles</a>
                    <a href="/perfil/quitar-planta/{{id}}" class="btn btn-sm btn-dark">Eliminar</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>