<section class="profile">
    <div class="container">
        <h1>Bienvenido a tu Jungle, {{user.username}} !</h1>
        <hr class="short-strong">

        {{#if isAdmin}}
        <p>Tu rol es {{user.role}}</p>
        <a href="/editar-perfil?id={{_id}}" class="btn btn-sm btn-admin">Editar Perfil</a>
        <a href="/eliminar-perfil?id={{_id}}" class="btn btn-sm btn-admin">Eliminar Perfil</a>
        {{/if}}
    </div>
</section>
<section class="task">
    <div class="container">
        <h3 class="profile">Estos son los cuidados que necesitan tus plantas:</h3>
        
        <div class="row">
            {{#each user.plants}}
            <div class="col-md-6">
                <div class="row plant-task">
                    <div class="col-md-5">
                        <img src="{{imageUrl}}" alt="name">
                    </div>
                    <div class="col-md-7">
                        <h2>{{name}}</h2>
                        <p>Tipo: {{care}}</p>
                        <hr>
                        <ul>
                            <li><strong>Riego:</strong> {{water}}</li>
                            <li><strong>Pulverizar:</strong> {{spray}}</li>
                        </ul>
                        <a href="/plantas/detalle/{{id}}" class="btn btn-sm btn-dark">Ver detalles</a>
                        <a href="/perfil/quitar-planta/{{id}}" class="btn btn-sm btn-dark">Eliminar</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
</section>