<div class="container plants-index">
  <h2>Plantas que molan</h2>
  <hr class="short-strong">
  <p>Trae la naturaleza al interior de tu casa y siente como mejora tu estado de 치nimo. Las plantas tienen muchos beneficios para tu salud ya que purifican el aire, te conectan con la naturaleza e impulsan tu
  creatividad.</p>
  <div class="filter-links">
    <a href="/plantas" class="btn btn-sm btn-inverted">Todas las plantas</a>
    <a href="/plantas/casi-inmortal" class="btn btn-sm btn-inverted">Casi inmortal</a>
    <a href="/plantas/amigable" class="btn btn-sm btn-inverted">Pet friendly</a>
    <a href="/plantas/facil" class="btn btn-sm btn-inverted">F치cil de cuidar</a>
    <a href="/plantas/facil" class="btn btn-sm btn-inverted">Poca luz</a>
  </div>

  {{#if isAdmin}}
  <a href="/plantas/crear-planta" class="btn btn-sm btn-dark">A침adir plantas</a>
  {{/if}}
  <div class="row">
    {{#each plants}}
    <div class="col-md-4">
      <figure>
        <img src="{{imageUrl}}" alt="{{name}}">
      </figure>
      <h4>{{name}}</h4>
      <p><strong>Cuidado: </strong> {{care}}</p>
      <a href="/plantas/detalle/{{id}}" class="btn btn-sm btn-dark">Ver detalles</a>
      {{#if ../isAdmin}}
      <a href="/plantas/editar-planta?id={{id}}" class="btn btn-sm btn-dark">Editar planta</a>
      {{/if}}
      <a href="/perfil/agregar-planta/{{id}}" class="btn btn-sm btn-dark">A침adir a mi Jungle</a>

      <hr>
    </div>
    {{/each}}
  </div>
</div>