<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <img src="{{imageUrl}}" alt="{{name}}">
    </div>
    <div class="col-md-7">
      <h2>{{name}}</h2>
      <p><small><strong>{{scientificName}}</strong></small></p>
      <p><strong>Cuidado: </strong> {{care}}</p>
      <p>{{description}}</p>


      <hr>
      <a href="/plantas/eliminar?id={{id}}" class="btn btn-sm btn-dark">Eliminar Planta</a>
      {{#with user}}
      <form action="/profile/{{user.id}}" method="POST">
        <input type="submit" name="plants" id="" value="{{id}}" />
      </form>
      {{/with}}
    </div>
  </div>
</div>